*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content{
    background: rgb(219, 219, 237) ;
}

.banner{
    background: linear-gradient(90deg, #5e5aae, #06b6d4 );
    color: rgb(108, 197, 230);
    padding: 1rem;
    text-align: left;
}

.botones{
    justify-content: center;
    text-align: right;
    padding: 1.25;
}

.b1{
    display: inline-block;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: rgb(207, 202, 205); 
    border-radius: 8px;
    color: black;
}
.b2{
    display: inline-block;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: rgb(207, 202, 205); 
    border-radius: 8px;
    color: black;
}

.nosotros{
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
}

.noticias img{
    width: 200;
    height: 100;
    border-radius: 10%;
}